form(name='edit_player',method='post',action='')
  -if(player._id !== null)
    h1 Edit #{player._id}
  -else
    h1 Add character
    div Name:
      input#name(type='text',name='id')
  h2 Stats

  div Level: 
    input#hp(type='text',name='level',value=player.level)
  div Race: 
    input#hp(type='text',name='race',value=player.race)
  div Class: 
    input#hp(type='text',name='class',value=player.class)

  div(style="position:relative;width:200px;")
    img(src='/images/char_stats.png')
    input#hp.stat(type='text',name='hp',value=player.hp,style="position:absolute;left:23px;top:48px;")
    input#spd.stat(type='text',name='spd',value=player.spd,style="position:absolute;left:23px;top:125px;")
    input#init.stat(type='text',name='init',value=player.init,style="position:absolute;left:23px;top:200px;")
    input#str.stat(type='text',name='str',value=player.str,style="position:absolute;left:70px;top:26px;")
    input#con.stat(type='text',name='con',value=player.con,style="position:absolute;left:70px;top:62px;")
    input#dex.stat(type='text',name='dex',value=player.dex,style="position:absolute;left:70px;top:98px;")
    input#int.stat(type='text',name='int',value=player.int,style="position:absolute;left:70px;top:132px;")
    input#wis.stat(type='text',name='wis',value=player.wis,style="position:absolute;left:70px;top:170px;")
    input#cha.stat(type='text',name='cha',value=player.cha,style="position:absolute;left:70px;top:205px;")
    input#ac.stat(type='text',name='ac',value=player.ac,style="position:absolute;left:200px;top:34px;")
    input#fort.stat(type='text',name='fort',value=player.fort,style="position:absolute;left:200px;top:93px;")
    input#ref.stat(type='text',name='ref',value=player.ref,style="position:absolute;left:200px;top:152px;")
    input#will.stat(type='text',name='will',value=player.will,style="position:absolute;left:200px;top:212px;")
    input#passivei.stat(type='text',name='passive.insight',value=player.passive.insight,style="position:absolute;left:46px;top:250px;")
    input#passivep.stat(type='text',name='passive.perception',value=player.passive.perception,style="position:absolute;left:46px;top:287px;")

  h2 Skills

  mixin skill_inputs(skill)
    .skillcheck
      input.stat(id='#{skill}',type='text',value=player.skills[skill].check,name='skills.#{skill}.check')
    .skilltrained
      input(id='#{skill}_trained',type='checkbox',name='skills.#{skill}.trained',checked=player.skills[skill].trained)
    .clearfix

  each skill,i in skills
    - if(i%2==0)
      .unshaded
        .skillname #{skill}:
        mixin skill_inputs(skill)
    - else
      .shaded
        .skillname #{skill}:
        mixin skill_inputs(skill)

  .buttonwrapper
    a.ovalbutton(href="#",onclick='document.edit_player.submit()')
      span save
  .clearfix

